<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-4 p-6 text-center md:text-left flex align-items-center"
  >
    <section>
      <span class="block text-6xl font-bold mb-1"
        >Ross <span class="font-light">Brown</span></span
      >
      <p class="mt-0 mb-4 text-700 line-height-3">Phone: 503.479.8515</p>
    </section>
  </div>
  <div class="col-12 md:col-8 overflow-hidden hidden">
    <img
      src="https://rs-brown.com/images/clients/hero-app-2.jpg"
      alt="Image"
      class="md:ml-auto block md:h-30rem"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>

<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-timeline
        [value]="model.portfolio"
        align="alternate"
        styleClass="customized-timeline"
      >
        <ng-template pTemplate="marker" let-event>
          <span
            class="custom-marker p-shadow-2"
            [style.backgroundColor]="event.color"
          >
            <i [ngClass]="event.icon"></i>
          </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
          <p-card [header]="event.company" [subheader]="event.position">
            <p>{{ event.date }}</p>
            <p>{{ event.summary }}</p>
            <button pButton label="Read more" class="p-button-text"></button>
          </p-card>
        </ng-template>
      </p-timeline>
    </div>

    <ng-container
      [ngTemplateOutlet]="resumeClientList"
      [ngTemplateOutletContext]="{ list: model.clients }"
    ></ng-container>
<!--
    <ng-container
      [ngTemplateOutlet]="resumePortfolioList"
      [ngTemplateOutletContext]="{ list: model.resumeInfo.portfolio }"
    ></ng-container>
-->
  </div>

  <div class="col-12 p-4">
    <ng-container
      [ngTemplateOutlet]="resumeSkillsList"
      [ngTemplateOutletContext]="{ list: model.skillset }"
    ></ng-container>
  </div>
</div>

<p-dialog
  appendTo="body"
  [(visible)]="model.display"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
</p-dialog>

<!--
<ng-template #resumeList let-list="list">
  <div *ngFor="let item of list">
    <ng-container
      [ngTemplateOutlet]="resumeItem"
      [ngTemplateOutletContext]="{ $implicit: item }"
    ></ng-container>
  </div>
</ng-template>
-->

<ng-template #resumePortfolioList let-list="list">
  <div *ngFor="let item of list">
    <ng-container
      [ngTemplateOutlet]="resumePortfolio"
      [ngTemplateOutletContext]="{ $implicit: item }"
    ></ng-container>
  </div>
</ng-template>

<ng-template #resumeSkillsList let-list="list">
  <div *ngFor="let item of list">
    <ng-container
      [ngTemplateOutlet]="resumeSkills"
      [ngTemplateOutletContext]="{ $implicit: item }"
    ></ng-container>
  </div>
</ng-template>

<ng-template #resumeClientList let-list="list">
  <div *ngFor="let item of list">
    <ng-container
      [ngTemplateOutlet]="resumeClients"
      [ngTemplateOutletContext]="{ $implicit: item }"
    ></ng-container>
  </div>
</ng-template>

<!-- base ui blocks -->

<ng-template #resumeClients let-item>
  <h4>{{ item.header }}</h4>
  <div class="{{ item.class }} grid">
    <div
      class="col-1 surface-card shadow-2 p-3 border-round mr-2"
      *ngFor="let data of item.images"
    >
      <img src="{{ data.img_thumb }}" alt="portfolio image" class="w-full" />
    </div>
  </div>
</ng-template>

<ng-template #resumePortfolio let-item>
  <h4>{{ item.header }}</h4>
  <div class="{{ item.class }} grid hidden">
    <div *ngFor="let row of item.data" class="col-3">
      <div
        (click)="showDialog()"
        class="surface-card shadow-2 p-3 border-round"
      >
        <img src="{{ row.img_thumb }}" alt="portfolio image" class="w-full" />
      </div>
      <div #modalContent>
        <h5>{{ row.position }}</h5>
        <p>
          {{ row.summary }}
        </p>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #resumeSkills let-item>
  <div class="{{ item.class }} grid">
    <h6>{{ item.header }}</h6>
    <div
      class="col-12 lg:col-4 shadow-2 p-2 h-20rem surface-card border-round-xs mb-2"
      *ngFor="let row of item.columns"
    >
      <ul>
        <p class="font-bold">
          {{ row.heading }}
        </p>
        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
        <li *ngFor="let data of row.data">
          <p>{{ data.line }}</p>
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<!--
<ng-template #resumeItem let-item>
  <div class="{{ item.class }}">
    <h6>{{ item.header }}</h6>
    <table class="p-datatable p-datatable-striped mt-2">
      <tbody class="p-datatable-tbody">
        <tr>
          <td *ngFor="let data of item?.columns" class="font-bold">
            {{ data.heading }}
          </td>
        </tr>
        <tr *ngFor="let row of item?.data">
          <td *ngFor="let data of this._combineTableData(item?.columns, row)">
            {{ data }}
          </td>
        </tr>
      </tbody>
    </table>
    <footer class="mb-4">
      <p *ngFor="let footer of item?.footer">{{ footer.footer }}</p>
    </footer>
  </div>
</ng-template>
-->
